<!DOCTYPE html>
<html>
  <head>
    <title>Pallace - Upload X-RAY</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='static/css/style.css') }}">
    <script src="{{url_for('static', filename='static/js/upload_image.js')}}"></script>
  </head>
    


    <center> <img src= "{{ url_for('static', filename='static/graphics/Pallace_logo.png') }}", alt="logo"> </center>
    
    
    
    
    
<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload an image</h1>
      <hr>

      <form action="/upload-image" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="image" id="image">
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>

    </div>
  </div>
</div>

    
</html>







